* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jua', sans-serif;
}

h1 {
    margin-top: -50px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #ECFEE8;
    margin-left: 180px;
}

body {
    height: 100vh;
    background: #41337A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

p {
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #ECFEE8;
}

#game-board {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(3, calc(90px / 2 * 3));
    row-gap: 2rem;
    column-gap: 2rem;
    perspective: 800px;
    padding-bottom: 10px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: rgba(0,0,0,0.2) 0px 5px 15px;
    border-radius: 10px;
}

.card-face, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    border-radius: 10px;
}

.card-back {
    background-color: #ECFEE8;
    backface-visibility: hidden;
    background-image: url("./images/pattern.png");
    background-size: 850%;

}

.toggleCard {
    transform: rotateY(180deg);
}

.card-face {
    transform: rotateY(-180deg);
    background-color: #331E36;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.status-container {
    display: flex;
    align-items: center;
}

.status-container img {
    margin-right: 10px; /* Space between images and text */
}

.status-container p {
    margin: 0 20px 0 0; /* Space between text elements */
}

.header-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.header-title {
    text-align: center;
    flex-grow: 1;
}

.slider-container {
    margin-top: 20px; /* Space above the slider */
    text-align: center;
}

.timer {
    font-size: 24px;
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 30px;
    color: #ECFEE8;
}

.slider-container {
    color: #ECFEE8;
    font-size: 20px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: #ECFEE8;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #c3efeb;
}

.small {
    width: 300px;
    height: 300px;
    right: -150px;
    bottom: -150px;
}

.medium {
    width: 350px;
    height: 350px;
    right: -175px;
    bottom: -175px;
}

.large {
    width: 400px;
    height: 400px;
    right: -200px;
    bottom: -200px;
}

.xlarge {
    width: 450px;
    height: 450px;
    right: -225px;
    bottom: -225px;
}

.xxlarge {
    width: 500px;
    height: 500px;
    right: -250px;
    bottom: -250px;
}

.shade1 {
    opacity: 0.2;
}

.shade2 {
    opacity: 0.5;
}

.shade3 {
    opacity: 0.7;
}

.shade4 {
    opacity: 0.8;
}

.shade5 {
    opacity: 0.9;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
    }
}

#restart-button {
    background-color: #c3efeb;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 16px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
    margin-top: 10px;
    font-family: 'jua', sans-serif;
}

#restart-button:hover {
    background-color: #aed9d5;
}

#restart-button:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

#about-button {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: -20px;
    color: #ECFEE8;
}

#about-button:hover {
    color: #bbcab8;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.overlay-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #41337A;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.overlay-content p {
    color: #ECFEE8;
    text-align: justify;
    margin: 20px 0;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
